
body {
    background-image: url("../palmleaf.png");
    margin: 0;
    padding: 0;
}

header {
    
    box-sizing: border-box;
    background: white;
    position: relative;
    height: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    border: 1px solid #4aaaa5; 
}
.bodytext {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    position: relative;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    
}

#links  {
    position: absolute;
    right: 0;
    top: 40%;
    font-family: Arial, Helvetica, sans-serif;

}

span {
    color: lightgray;
}
.alink {
    text-decoration: none;
    word-spacing: 15px;
    color: grey;

}

#blink {
    text-decoration: none;
    color: grey;
    
}

h1 {
    box-sizing: border-box;
    background: #4aaaa5;
    width: 300px;
    padding: 20px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

#box {
    box-sizing: border-box;
    width: 960px;
    height: 67%;
    background: #ffffff;
    padding: 20px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border: 1px solid #4aaaa5; 
}

img {
    float: left;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(155, 152, 152);
    line-height: 2;
}

hr {
    line-height: 5px;
    color: aliceblue;
}

footer {
    color: #ffffff;
    background-color: grey;
    float: bottom;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    vertical-align: text-bottom;
    width: 100%;
    padding-top: 5%;
    border-top: #4aaaa5 6px solid;
    

}