body {
    background-color: rgb(204, 203, 203);
    margin: 0;
    padding: 0;
}

header {
    
    box-sizing: border-box;
    background: white;
    height: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

#title {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    
    
}
h1 {
    box-sizing: border-box;
    background: #4aaaa5;
    width: 30%;
    padding: 20px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

div {
    
    margin-left: 140px;
    margin-right: 140px;
}

#box {
    box-sizing: border-box;
    width: 960px;
    height: 70%;
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(155, 152, 152);
    line-height: 2;
}

hr {
    size: 2px;
    color: aliceblue;
}